# dev
.idea

# CI files
.coveragerc
.coveralls.yml
.travis.yml
appveyor.yml
renovate.json
setup.cfg
tox.ini

# octobot
tentacles
user
logs

# Git
.git
Dockerfile
.DS_Store
.gitignore
.dockerignore
.github

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Flask stuff:
instance/
.webassets-cache

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
# .env
.venv
env/
venv/
ENV/

# documentation
docs

# others
.nojekyll

.vscode
caddy/
backtesting
build
exchange_tests
logs/
profiler/
reference_profiles
scripts/
tentacles/
readme/
tentacles
README.md
LICENSE
tests
user/
users/
windows_dependencies/
linux-docker_install_or_update.sh
linux-start-octobot.sh
linux-update-DEVELOPER-octobot-packages.sh
linux-update-ENDUSER-octobot-packages.sh
windows-docker_install_or_update---untested.ps1
windows-install-repair-and-update-to-BETA-installation.ps1
windows-install-repair-and-update-to-STABLE-installation.ps1
windows-start-octane.ps1
Windows-Start-Octobot.exe