*.log*
*.pyc
OctoBot/user/data/
OctoBot/backtesting/data/
OctoBot/user/cache/
venv/
OctoBot/user/config.json
OctoBot/backtesting/data/
*/build/temp.*
**.egg-info/
*.cp38-win_amd64.pyd
**/.eggs/

*/build/
*/dist/
/user/cache/
/user/data/
/user/
/backtesting/
/tentacles/profiles/__init__.py
venv/
build/
*.c
*.so
/.venv
/output/
/user/
/octobot-packages/OctoBot-Tentacles-Manager/temp_tests/
*.pyd
/octobot-packages/trading-backend/.gitignore
/octobot-packages/trading-backend/.github/workflows/main.yml
/octobot-packages/OctoBot/user
/.eggs/
/my_docker_update.sh
/users/
.env
/scripts/vs_build_tools_layout
Octane_install.zip
/tentacles
docker-compose.yml
.gitpod.yml
custom_requirements.txt