# TA-Lib # conda install -c conda-forge ta-lib
pandas
pandas_ta
finta
newtulipy
statistics
tensorflow==2.16.2
yfinance
py_expression_eval
typing-extensions>4.8.0 # tmp fix
lxml_html_clean==0.1.1 # tmp fix
# requirements inside the octobot-packages folder need to be installed as well