# Setup requirements
numpy==1.26.3

# Commons requirements
jsonschema==4.20.0
cryptography
sortedcontainers
requests
psutil==5.9.7

aiohttp>=3.9.5
certifi==2024.02.02

# async sqlite connection
# update asap (0.19 working)
# but required <= 0.17.0 from asyncpraw https://github.com/praw-dev/asyncpraw/blob/master/pyproject.toml
aiosqlite==0.17.0
